.sidebar-and-content {
    display: flex;
}

.outlet-flex-left {
    width: 100vw;
    transform: translateX(-80px);
    transition: transform 1s ease;
}

.outlet-flex-right {
    width: 100vw;
    transform: translateX(0);
    transition: transform 1s ease;
}