.spa-layout {
    display: flex;
    flex-direction: column;
}

.sidebar-and-content {
    display: flex;
    flex-direction: row;
}

.outlet-flex-left {
    transform: translateX(-80px);
    transition: transform 1s ease;
}

.outlet-flex-right {
    transform: translateX(0);
    transition: transform 1s ease;
}