.form-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #666666;
}

.task-form-container {
    width: 408px;
    height: 502px;
    border: 3px solid #FD71AF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.close-button {
    width: 76px;
    height: 36px;
    background-color: white;
    border: 1px solid #666666;
    border-radius: 8px;
}

.submit-button {
    width: 154px;
    height: 36px;
    background-color: #FD71AF;
    border: 1px solid #666666;
    border-radius: 8px;
}

.submit-button:active {
    background-color: #ba5281;
}

.submit-button:disabled {
    color: #66666680;
    cursor: not-allowed;
}

.form-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.error-hint {
    color: red;
    font-weight: 700;
}