.list-container {
    width: 335px;
    position: relative;
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-height: 312px;
    overflow-y: scroll;
    overflow-x: hidden;
}

hr {
    border-color: #eeeeee;
    border: 1px solid #eeeeee;
}