.list-container {
    width: 306px;
    height: 100%;
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 100%;
}

hr {
    border-color: #eeeeee;
    border: 1px solid #eeeeee;
}