.task-card {
  width: 290px;
  height: 110px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: content-box;
  position: relative;
  background-color: var(--bg-content);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

.task-top {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.task-checkbox {
  background-image: url("./../../../assets/unactiveCheckbox.svg");
  width: 17px;
  height: 17px;
  border-color: #bbbabe;
  text-decoration: none;
  color: black;
}

.task-checkbox:checked {
  background-image: url("./../../../assets/activeCheckbox.svg");
}

.task-title {
  font-size: 16px;
  font-weight: 700;
}

.task-checkbox:checked + p {
  text-decoration-color: #fd71af;
  text-decoration: line-through;
  color: #fd71af;
}

.category-and-date {
  display: flex;
  flex-direction: row;
  position: relative;
}

.task-date {
  position: absolute;
  color: var(--text-color);
  right: 0px;
}

.ellipsis-icon {
  width: 20px;
  height: 20px;
  background-image: url("./../../../assets/ellipsis.svg");
  margin-left: auto;
}

.active-menu {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fd71af;
}

.btn-return-task {
  width: 50px;
  height: 50px;
}
