.list-container {
  width: 306px;
  height: 100%;
  display: flex;
  gap: 3px;
  flex-direction: column;
  margin: 15px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 100%;
}

hr {
  background-color: var(--bg-content);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}
