.task-card {
    width: 290px;
    height: 110px;
    border: 1px solid #d9d9dc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #F9F8FF;
    padding: 5px;
    box-sizing: content-box;
    position: relative;
}

.task-top {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.task-checkbox {
    background-image: url('./../../../assets/unactiveCheckbox.svg');
    width: 17px;
    height: 17px;
    border-color: #BBBABE;
    text-decoration: none;
    color: black;
}

.task-checkbox:checked {
    background-image: url('./../../../assets/activeCheckbox.svg');
}

.task-title {
    font-size: 16px;
    font-weight: 700;
}

.task-checkbox:checked+p {
    text-decoration-color: #FD71AF;
    text-decoration: line-through;
    color: #FD71AF;
}

.category-and-date {
    display: flex;
    flex-direction: row;
    position: relative;
}

.task-date {
    position: absolute;
    color: #BBBABE;
    right: 0px;
}

.ellipsis-icon {
    width: 20px;
    height: 20px;
    background-image: url('./../../../assets/ellipsis.svg');
    margin-left: auto;
}

.active-menu {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #FD71AF;
}

.btn-return-task {
    width: 50px;
    height: 50px;
}