.login {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 771px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 1px 0px 10px 5px rgb(210, 210, 210);
    padding: 48px 56px;
    box-sizing: border-box;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span {
    color: red;
}

.log-btn,
.login-form input {
    width: 320px;
    height: 52px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 15px;
    padding: 5px;
}

.log-btn {
    background-color: #FD71AF;
}