@font-face {
    font-family: 'Roboto';
    src: url('./../../../public/fonts/Roboto-Variable.woff2') format('woff2 supports variations'),
        url('./../../../public/fonts/Roboto-Variable.woff2') format('woff2');
    /* исправить ошибку которую поймал санитайзер, шрифт не загружается*/
    font-weight: 100 900;
    font-style: normal;
    font-display: fallback;
}

:root {
    --font-family-base: 'Roboto', sans-serif;
    --font-weight-base: 400;
    --font-family-accent: 'Roboto', sans-serif;
    --font-weight-accent: 700;
    /* добавить акцентный стиль */
}