.page_theme_light {
    --bg-primary: #AAD0F0;
    --bg-navbar: #ff92c9;

    --text-color: black;
    --secondary-text: #515151;
    --error-text: #ff0000;

    --accent-color: #FF4885;

}

.page_theme_dark {
    --bg-primary: #3a3939;
    --bg-navbar: #292929;

    --text-color: rgb(255, 255, 255);
    --secondary-text: #ffffff;
    --error-text: #7e0000;

    --accent-color: #FF4885;

}