.theme-toggler {
    position: relative;
    width: 50px;
    height: 24px;
}

.theme-toggler__checkbox {
    position: absolute;
    appearance: none;
    cursor: pointer;
    inset: 0;
}

.theme-toggler__checkbox {
    background-image: url('./../../assets/light_theme.svg');
    position: absolute;
    appearance: none;
    cursor: pointer;
    inset: 0;
}

.theme-toggler__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transition: left 0.3s ease;
}

.theme-toggler__slider_dark {
    background: url('./../../assets/moon.svg') no-repeat;
}

.theme-toggler__slider_light {
    background: url('./../../assets/sun.svg') no-repeat;
}

.theme-toggler__checkbox_light {
    background-image: url('./../../assets/light_theme.svg');
}

.theme-toggler__checkbox_dark {
    background-image: url('./../../assets/dark_theme.svg');
}


.theme-toggler__checkbox:checked+.theme-toggler__slider {
    transform: translateX(26px);
    transition: transform 0.3s ease;
}