.todos-page {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 100px;
}

.list-and-calendar {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 30px;
}

.boards {
    display: flex;
    flex-direction: row;
}