.container {
    height: 75px;
    width: calc(100% - 72px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-navbar);
    box-sizing: border-box;
    gap: 10px;
    padding: 30px;
}