.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    height: 100vh;
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-navbar);
    border-right: 1px solid rgb(0, 0, 0);
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 15px;
    cursor: pointer;
}

.logo {
    width: 30px;
    height: 30px;
}