.todos-page {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    gap: 100px;
}

.list-and-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}