.container {
    height: 75px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 75px;
    background-color: var(--bg-navbar);
    gap: 10px;
}