.menu {
    width: 80px;
    top: 60px;
    height: 100vh;
    left: 0;
    background-color: rgb(235, 225, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.menu.active {
    transform: translateX(0);
    transition: transform 1s ease;
}

.todos-icon,
.dashboard-icon {
    width: 20px;
    height: 20px;
}