.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    height: 100vh;
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-navbar);
    gap: 20px;
    border: 1px solid red;
}

.homeIcon {
    width: 20px;
    height: 20px;
}