.menu {
    width: 72px;
    height: 100vh;
    border-right: 1px solid var(--border-color);
    background-color: var(--bg-navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.homeIcon {
    width: 20px;
    height: 20px;
}